{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="static/css/image-caption-index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Tours section -->
<div class="row">
  <div id="mainwrapper" class="col-lg-12">
    <a href="pacotes">
    <div class="box">
      <img src="static\img\day_visit.jpg" alt="Day Visits">
      <span class="caption fade-caption">
        <h3>Day Visits</h3>
      </span>
    </div>
  </a>
    <div class="box">
      <img src="static\img\English.jpg" alt="English">
      <span class="caption fade-caption">
        <h3>English</h3>
      </span>
    </div>
    <div class="box">
      <img src="static\img\interior.jpg" alt="Interior Design">
      <span class="caption fade-caption">
        <h3>Interior Design</h3>
      </span>
    </div>
    <div class="box">
      <img src="static\img\uni.jpg" alt="Uni">
      <span class="caption fade-caption">
        <h3>Uni</h3>
      </span>
    </div>
  </div>
  </section>
</div>

{% endblock %}
