{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% block london_design %} {% endblock %}
<div>
  <form class="form-horizontal" action="contact_tour" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="inputName" class="col-sm-3 control-label">Nome</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="inputName" placeholder="Nome">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" name="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone" class="col-sm-3 control-label">Telefone</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="inputPhone" placeholder="Telefone">
      </div>
    </div>
    <div class="form-group">
      <label for="inputLanguage" class="col-sm-3 control-label">Idioma</label>
      <div class="col-sm-9">
        <select class="form-control" name="inputLanguage" placeholder="Idioma">
          <option>Português</option>
          <option>Inglês</option>
          <option>Francês</option>
          <option>Finlandês</option>
          <option>Italiano</option>
          <option>Espanhol</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCountry" class="col-sm-3 control-label">País</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="inputCountry" placeholder="País">
      </div>
    </div>
    <div class="form-group">
      <label for="inputCity" class="col-sm-3 control-label">Cidade</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="inputCity" placeholder="Cidade">
      </div>
    </div>
    <div class="form-group">
      <label for="inputNationality" class="col-sm-3 control-label">Nacionalidade</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="inputNationality" placeholder="Nacionalidade">
      </div>
    </div>
    <div class="form-group">
      <label for="inputQty" class="col-sm-2 control-label">Nº de Pessoas</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="inputQty" placeholder="1">
      </div>
      <label for="inputDate" class="col-sm-3 control-label">Data da Visita</label>
      <div class="col-sm-5">
        <input type="date" class="form-control" name="inputDate">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-10 col-sm-2">
        <button type="submit" class="btn btn-default">Enviar</button>
      </div>
    </div>
  </form>
</div>

  </div>
</div>
{% endblock %}
