{% extends "pacotes.html" %}
{% load staticfiles %}

{% block london_design %}
<!-- Tours section -->
<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <div id="carousel-linha-1" class="carousel slide carousel-fade img-carousel" data-ride="carousel" data-interval="3000">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="static\img\london-home\HarrodsAlta.jpg" alt="...">
        </div>
        <div class="item">
          <img src="static\img\london-home\Ikea.jpg" alt="...">
        </div>
      </div>
    </div>
    <div id="carousel-linha-2" class="carousel slide carousel-fade img-carousel" data-ride="carousel" data-interval="3500">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="static\img\london-home\jonhlewis.jpg" alt="...">
        </div>
        <div class="item">
          <img src="static\img\london-retro\mes.jpg" alt="...">
        </div>
      </div>
      </div>
    </div>
    <div id="carousel-linha-3" class="carousel slide carousel-fade img-carousel" data-ride="carousel" data-interval="3500">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img src="static\img\london-retro\burguer - Copia.jpg" alt="...">
        </div>
        <div class="item">
          <img src="static\img\london-retro\cafe - Copia.jpg" alt="...">
        </div>
      </div>
      </div>
      <!-- Wrapper for slides -->

    <div>
      <h3>LONDON HOME RENOVATION</h3>
      <h4>Why?</h4>
      <p class="text-justify">Com a ajuda de uma  arquiteta profissional faça compras na maiores e melhores lojas de decoração da cidade.</p>
      <h4>How?</h4>
      <p class="text-justify">O guia encontrará o grupo no ponto inicial da tour (8:30am) e seguirá para a primeira e segunda parada do dia antes do almoço. Após a refeição tipicamente londrina, nós iremos para a terceira e quarta atração com um break para o café/chá. O guia se despedirá do grupo por voltas das 17:30, ao fim da tour na quarta atração.</p>
      <h4>Where?</h4>
      <p class="text-justify">
        <li>IKEA/li>
        <li>John Lewis</li>
        <li>Harrods</li>
        <li>Marks and Spencer</li>
      </p>
      <h4>Incluso:</h4>
      <p  class="text-justify">
        <li>Almoco: fish and chips ou hamburger e fritas ou salada com quiche + 1 refrigerante/agua/suco - bebidas alcoolicas não inclusas</li>
        <li>Lanche - bebida não alcoolica ou snack</li>
      </p>
      <h4>Não incluso: </h4>
      <p class="text-justify">
        <li>Transporte (visitante deve adquirir seu próprio cartão diário/semanal/mensal de transporte - zonas 1-2 para esse roteiro em especifico)</li
        <li>Ingressos para exposicões</li>
      </p>
      <p class="text-justify">
        *A data desejada para a tour deve ser enviada no formulario abaixo para confirmacão posterior.
      </p>
      <h4>Cancelamentos</h4>
      <p class="text-justify">
        <li>Até 7 dias antes do roteiro o cancelamento é gratuito</li>
        <li>Entre 6 e 3 dias antes do roteiro, existe o reembolso de 50% do valor</li>
        <li> Se o cancelamento ocorrer até dois dias antes do roteiro, não há devolução do valor pago</li>
      </p>
      <p>Grupo maximo: 08 pessoas</p>
    </div>
    <div>
      <h2 class="price">£ 120.00 – R$ 750.00</h2>
    </div>
    <hr>


{% endblock %}
