/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #ffffff;
}

.img-carousel{
  margin-bottom: 10px;
}

.price {
  color: #347a71;
  font-weight: bold;
}

.jumbotron-talkdesign {
    padding-top: 0px;
    height: 160px;
    background-color: #ffffff;
}

.bg-navbar {
  background-color: #ffffff;
  border: 0px;
}

.vertical-center {
  position: relative;
  display: flex;
  text-align: center;
}

.flag-icon {
    width: 2em;
    line-height: 2em;
}

.navbar-inverse{
  background-color: #347a71;
  border: 0;
}

.navbar-nav {
    float: none;;
    margin:0 auto;
    display: block;
    text-align: center;
    background-color: #347a71;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
}

.navbar-nav>li {
    display: inline-block;
    float:none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #347a71;
}

.spacing {
  margin-top: 48px;
  margin-bottom: 48px;
}

.link_email {
  color: #FFFFFF;
  font-size: 22px;
  margin-top: 10px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}
