/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.jumbotron-talkdesign {
    height: 200px;
    background-color: #FFFFFF;
}

.bg-navbar {
  background-color: #FFFFFF;
  border: 0px;
}

.vertical-center {
  position: relative;
  display: flex;
  text-align: center;
}

.flag-icon {
    width: 2em;
    line-height: 2em;
