/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.jumbotron-talkdesign {
    height: 160px;
    background-color: #FFFFFF;
}

.bg-navbar {
  background-color: #FFFFFF;
  border: 0px;
}

.vertical-center {
  position: relative;
  display: flex;
  text-align: center;
}

.flag-icon {
    width: 2em;
    line-height: 2em;
}

.navbar-inverse{
  background-color: #347a71;
  border: 0;
}

.navbar-nav {
    float: none;;
    margin:0 auto;
    display: block;
    text-align: center;
    background-color: #347a71;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
}

.navbar-nav>li {
    display: inline-block;
    float:none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #347a71;
}

.social-logos {
  color: #FFFFFF;
  font-size: 22px;
  margin-top: 9px;
}

.spacing {
  margin-top: 48px;
  margin-bottom: 48px;
}

.mosaic_img {
  border: 1px;
  border-style: solid;
  border-color: #000000;
}

.link_email {
  color: #FFFFFF;
  font-size: 22px;
  margin-top: 9px;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}
